<h1>Exam Dates</h1>
<p>Today: <%= @date_today %></p>
<%= link_to 'New Exam Date', new_exam_date_path, class:"btn btn-success text-white" %>
</br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Student name</th>
      <th><%= link_to "School name", :sort => "school_name" %></th>
      <th>Subject</th>
      <th>Date</th>
      <th>Syllabus</th>
      <th>Days to</th>
      <th>Additional information</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exam_dates.each do |exam_date| %>
     <% if ((exam_date.date - @date_today).to_i) > 0 %>
        <tr>
          <td><%= exam_date.student_name %></td>
          <td><%= exam_date.school_name %></td>
          <td><%= exam_date.subject %></td>
          <td><%= exam_date.date %></td>
          <td><%= "✔️" if exam_date.images.attached? %></td>
          <td><%= ((exam_date.date - @date_today).to_i == 1) ? "Tomorrow" : (exam_date.date - @date_today).to_i  %>
          <td><%= exam_date.additional_information.truncate(20) %></td>
          <td><%= link_to 'Show', exam_date %></td>
          <% if user_signed_in? %>
            <td><%= link_to 'Edit', edit_exam_date_path(exam_date) %></td>
            <td><%= link_to 'Destroy', exam_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
